<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Sign-up</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <form novalidate (ngSubmit)="signIn()" [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="loginForm.controls['name'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Surname"
            formControlName="surname"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="loginForm.controls['surname'].hasError('required')">
            Surname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              loginForm.controls['email'].hasError('email') &&
              !loginForm.controls['email'].hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          class="button is-primary"
          [disabled]="(emailSent | async) || isDisabled()"
        >
          <mat-icon>how_to_reg</mat-icon>
          Get Login Link
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
